@use '../globales' as * ;


.articulos{
    width: 50%;
    color: $color-claro;
    background-color: #333333;
    padding-left: 50px;
    padding-right: 20px;
    
    span{
        color: $color-secndario;
        text-transform: uppercase;
        font-family: $Fuente2;
    }
    h2{
        @extend span;
        color: $color-claro;
    }
    
    .articulo__descripcion {
        border-bottom: 3px solid $color-secndario;
        padding-bottom: 20px ;
    }
 
}
